body {
     font-family: "Times New Roman", Times, serif;
  max-width: 700px;
  margin: 30px auto;
  padding: 10px;
  background: wheat;
  border-radius: 10px;
  float: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("https://cdn-icons-png.flaticon.com/512/8781/8781951.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: #f0f0f0;
  background-blend-mode: overlay;
  background-size: cover;
   
}

h1 {
    text-align: center;
    color:maroon;
    font-size: 2.5em;
    margin-bottom: 20px;
}

form, select, input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.ticket {
    background: white;
    padding: 15px;
    border: 5px solid #ddd;
    margin-bottom: 10px;
}

button {
    background: maroon;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background: peachpuff;
}


.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .ticket {
    background: #444;
    border: 1px solid #555;
}
